@model IEnumerable<Magda.Models.GuestList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!(item.Guests is null))
                    {
                        foreach (var guest in item.Guests)
                        {
                            <p>@guest.Name</p>
                            <p>@guest.Surname</p>
                            <p>@guest.AdditionalRemarks</p>
                        }
                    }
                    <a asp-action="Edit" asp-route-id="@item.ListId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ListId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ListId">Delete</a>
                </td>
                <td>
                    @using (Html.BeginForm("Create", "EvetGuest", FormMethod.Get))
                    {
                        <input hidden="hidden" name="ListId" type="text" value="@item.ListId" />
                        <input type="submit" value="Create Guest List" />
                    }
                </td>
            </tr>    
        }

    </tbody>
</table>
